.dark {
    background-color: #333;
    color: #fff;

}
.light {
    background-color: #fff;
    color: #fff;
}
#budget-title{
    color:blue;
}
#form-label{
    color: blue;
}
#modal-title{
    color:blue;
}